.MuiFormLabel-root.Mui-focused {
	color: white !important;
}

.MuiButton-label {
	color: white;
}

div.MuiPaper-root {
	width: 75%;
}

label.MuiFormControlLabel-root {
	margin-top: 20px;
	margin-left: 0px;
}

div.MuiFormControl-root {
	margin: 10px;
	min-width: 120px;
	vertical-align: baseline;
}

li.MuiListItem-root {
	text-align: center;
	justify-content: center;
}

div.MuiListItem-root {
	text-align: center;
	justify-content: center;
}

ul.MuiMenu-list, div.MuiPopover-paper {
	width: 200px;
}